body{
	margin:0;
	font-family: sans-serif;
	overflow-x: hidden;
	padding: 0;
}

*
{
	box-sizing: border-box;
	margin: 0 ;
	padding: 0;	
}
li, a
{
	font-family: "Montserrat", sans-serif;
	font-weight: 500px;
	font-size: 25px;
	color: #000;
	text-decoration: none;
}
header
{
	display: flex;
	justify-content:  space-between;
	align-items: center;
	padding: 30px 10%;
}
header h2
{
	font-size: 30px;
	font-style: sans-serif;
}
.nav_links li
{
	display:  inline-block;
	padding: 0 20px;
}
.nav_links li a
{
	transition: all 0.3s ease 0s;
}
.nav_links li a:hover 
{
	color: green;
	font-size: 30px;

}
.home{
	height: 90vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
	margin:auto;
	background-color: #FFFFFF;
	opacity: 0.75;
}

.home .container{
	 flex-grow: 1;
}
.home .caption{
	width:50%;
}
.home .caption h1{
	font-size:42px;
	color:#000000;
	margin:0;
	
}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.home .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#222222;
}
.home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #46B67F;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	background-color: #000000;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #46B67F;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}
.Box, .promo, .Categories
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.Box .shipping, .safety, .made
{
	position: relative;
	width: 350px;
	padding:  30px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 10px;
	margin: 40px;
	margin-top: 200px;
	box-sizing: border-box;
	overflow:  hidden;
	text-align: center;
	background-color: #D0D7D3;
	opacity: 0.8;
	margin-bottom: 100px;
}

.promo .Box1, .Box2, .Box3, .Box4
{
	position: relative;
	width: 350px;
	padding:  5px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 10px;
	box-sizing: border-box;
	overflow:  hidden;
	text-align: center;
	background-color: #669966;
	opacity: 0.8;
	margin-bottom: 20px;	
}
.promo .Box1 .content, .Box2 .content, .Box3 .content
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	align-items: center;
	color: #FFF;
	padding: 30px;
	margin-bottom: 0px;
	font-family: consolas;
	text-align: center;
}
.promo .Box1 .content a, .Box2 .content a, .Box3 .content a, .Box4 a
{
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	border: 1px solid #FFF;
	text-decoration: none;
	color: #FFF;
	transition: 0.5s;
}
.promo .Box1 .content a:hover, .Box2 .content a:hover, .Box3 .content a:hover, .Box4 a:hover
{
	color: #000;
	background-color: #FFF;
}
.promo .Box2 .content a:hover
{
	opacity: 0.75;
}
.promo .Box1 img, .Box3 img
{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transition: 1s;
}
.promo .Box1:hover img
{
	clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);

}
.promo .Box3:hover img
{
	clip-path: polygon(0 0, 44% 41%, 100% 100%, 44% 41%);

}
.promo .Box1, .Box3
{
	margin-left: 20%;
}
.promo .Box2, .Box4
{
	margin-right: 20%;
}
.promo .Box4
{
	padding: 20px;
}
.promo .Box4:hover .border
{
	border: 1px solid #FFF;
}
.promo .Box4 .border div
{
	padding: 50px;
}
.promo .Box4 h3
{
	margin-top: : 75px;
	font-size: 35px;
}
.promo .Box4 h2
{
	font-size: 30px;
}
.promo .Box4 .Box4text
{
	padding: 10px;
	font-family: sans-serif;
	color: #FFF;
}
.Pro
{
	margin-top: 50px;
	text-align: center;
	align-items: center;
	font-size: 50px;
	margin-bottom: 50px;
	color: #669966;
}
.Pro p
{
	text-align: center;
	font-size: 25px;
	margin-bottom: 50px;
	color: #000;
}
.Categories .Face, .Body, .Spa, .Hair
{
	position: relative;
	width: 300px;
	height: 300px;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 50%;
	box-sizing: border-box;
	overflow:  hidden;
	text-align: center;
	margin-bottom: 50px;
}
.Categories h3
{
	margin-left: 140px;
	margin-bottom: 50px;
}
footer
{
	background-color: #669966;
	padding: 20px;
}
.social_icones li
{
	position: relative;
	align-items: center;
	list-style: none;
	display: inline-block;
	padding: 10px;

}
.social_icones
{
	margin-left: 40%;
}
footer div h3
{
	position: relative;
	text-align: center;
	color: #FFF;
}
